<div class="mt-4">
    <div class="col-lg-3">
        <button>Học Ngay</button>
    </div>
    <div class="col-lg-9">
        <h2>{{course.name}}</h2>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{course.videoId}}" title="Setup Môi Trường Chạy Dự Án Của F8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>{{course.description}}</p>
    </div>
</div>