<div class="mt-4 mb-3">
    <form>
<div class="mb-3">
  <label for="search-input" class="form-label">Search</label>
  <input type="text" name="q" class="form-control" id="exampleFormControlInput1" placeholder="Enter keywords...">
</div>
    <button type ="submit" class="btn btn-primary">Search</button>
    </form>
</div>